{{ header }}{{ column_left }}
<style>
.btn-copy{
    width: 100%;
    font-size: 1.5rem;
    background: #DF650D;
    color: #FFF;
    margin-top: 5px;
    border: none;
}
</style>

<div id="content" class="container">
    <div class="page-header">
        <div class="container-fluid">
            <h1 style="text-align: center;font-weight: bold;">Pedido Recebido</h1>
        </div>
    </div>
    <div id="gerencianet-container-qrcode">
        <header>
            <img class="rounded mx-auto d-block" style="height: auto;" src="https://s3-sa-east-1.amazonaws.com/acervo.gerencianet.com.br/imagens/marca-gerencianet.svg" />
        </header>
        <section>
            <div id="qr-code-info">
                <h1>
                    <img src="catalog/view/theme/default/image/payment/pix.svg" style="width: 20px; height: 20px" /> Pagamento via PIX
                </h1>
                <p>Pedido #{{ order_id }} Realizado com Sucesso!</p>
                <p>Escaneie o QR CODE  ao lado no seu dispositivo para realizar o pagamento. <br> Ou clique no botão "Copiar" e cole o código no seu aplicativo de pagamentos!</p>
            </div>
            <div id="qr-code">
                <img src={{ qrCodeImage }} />
                <div>
                    <input id="input-pix-code" type="textarea" class="form-control" value='{{ qrCodeCopy }}' readonly />
                    <button id="btn-pix-copy" class="btn btn-copy"> Copiar </button>            
                </div>
            </div>
        </section>
    </div>
</div>
{{ footer }}